<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="progress">
          <div
            [style.width.%]="progress"
            class="progress-bar bg-info progress-bar-striped active"
            style="height:5px;">
          </div>
        </div>
        <br><br>
        <div class="progress">
          <div
            [style.width.%]="progres2"
            class="progress-bar bg-info progress-bar-striped active"
            style="height:5px;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-input-number
          [value]="progress"
          (valueChange)="progress = $event">
        </app-input-number>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-input-number
          classBtn="btn-info"
          [value]="progres2"
          (valueChange)="progres2 = $event">
        </app-input-number>
      </div>
    </div>
  </div>
</div>
